* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.watch {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about{
  background-image: url('assets/images/img-about.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  display:grid;
  height: 90vh;
  justify-content: center;
  font-size: 40px;
  text-align: justify;
  color:#fff;

  
}

.contact {
  background-image: url('assets/images/img-contact.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 40px;
  display: flex;
  height: 90vh;

  justify-content: center;
  font-size: 3rem;
}
.watch {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

